@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.user_form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 2rem;
  box-shadow: 4px 2px 20px 10px rgba(0, 0, 0, 0.126);
  gap: 1rem;
  font-family: "Roboto Mono", monospace;
  margin: auto;
  margin-top: 10rem;
}

.user_form input {
  width: 80%;
  height: 2rem;
  font-size: 1.3rem;
}

.btn {
  background: #441078;
  width: 5rem;
  height: 2rem;
  border: none;
  color: rgb(215, 209, 209);
  font-size: 1.1rem;
  padding: 0.2rem;
}

.btn:active {
  scale: 0.8;
  background: #3d0e6c;
}

.user_form span {
  font-weight: 700;
}

@media (max-width: 700px) {
  .user_form {
    scale: 0.8;
    margin-top: 10rem;
    margin-right: 10rem;
  }
  .user_form span {
    font-size: 1.3rem;
    font-weight: 600;
  }
}

@media (min-width: 700px) and (max-width: 1023px) {
  .user_form {
    scale: 1.5;
    margin-top: 15rem;
  }
}
